@import '../_foundations.scss';
.app {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .app__content {
    height: 100vh;
    overflow-y: auto;
    transition: transition();
    z-index: 5;
  }
  .app__terminal {
    height: spacing(2,8);

    font-size: font-size(s);
      background-color: color(gray, gray-2);
    transition: transition();
    z-index: 10;
    .app__terminal__header {
      cursor: pointer;
      padding: spacing(4);
      h5 {
        margin-bottom: 0;
      }


    }
    .app__terminal__body {
      border-top: 1px solid color(black, light);
      padding: spacing(4);
    }
  }
  &.app-terminal {
    .app__content {
      height: 70vh;
    }
    .app__terminal {
      height: 30vh;
      background-color: color(black);
      color: color(gray, gray-2);
    }
  }
}
