@import '../_foundations.scss';
.app {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .app__content {
    height: 100vh;
    overflow-y: auto;

  }
  .app__terminal {
    height: spacing(2,8);
    background-color: color(gray, gray-2);
    font-size: font-size(s);
    padding: spacing(4);
  }
}
