@import "./src/Styles/_foundations.scss";
.project-card {
  background-color: color(white, light);
  border: 1px solid color(gray, gray-1);
  padding: spacing(5);
  box-shadow: 0 8px 8px -8px rgba(45,42,60,0.20);
  border-radius: spacing(5);


}
