@import '_foundations.scss';
@import 'Globals/_reset.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: font-family();
  font-size: $basicFontSize;
  background-color: color(white);
  color: color(black);


}

a {
  color: color(main);
  text-decoration: none;
  &:hover {
    color: color(main, dark-1);
  }
}




@import 'Globals/_grid.scss';
@import 'Globals/_headings.scss';
@import 'Globals/_paragraphs.scss';
@import 'Globals/_pages.scss';
@import 'Globals/_sections.scss';
