@import "./src/Styles/_foundations.scss";
.module-block {
  border: 1px solid color(gray, gray-1);
  padding: spacing(4,2);
    border-radius: spacing(1);
  .module-block__title {

    h4 {
      margin: 0;
      padding: 0;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
  .module-block__body {
    padding: 0 0 spacing(2,3) 0;
  }

}
