@import "./src/Styles/_foundations.scss";
.module-block {

  border-bottom: 1px solid color(gray, gray-1);
  .module-block__title {
    padding: spacing(2) 0 0;
    h3 {
      margin: 0;
      padding: 0;
    }
  }
  .module-block__body {
    padding: 0 0 spacing(2,3) 0;
  }
  &:last-child {
      border-bottom: 0;
  }
}
