@import "./src/Styles/_foundations.scss";
.pipeline-block {
  border-bottom: 1px solid color(gray, gray-1);
  padding: spacing(2,3) 0 ;
  display: flex;
  font-size: font-size(s);
  &:last-child {
    border-bottom: 0;
  }

  .pipeline-block__id {
    padding: spacing(2) spacing(2,4) ;
    width: 80px;
  }
  .pipeline-block__stages {
    display: flex;
    padding: spacing(2) spacing(2,4) ;
    width: 70%;
    .pipeline-block__stages__stage {
      width: 33%;
      display: flex;
      .stage__title {
        padding-right: spacing(2,4);
        white-space: nowrap;

      }
      .stage__graph {
        width: 100%;
        min-width: 200px;
        padding-right: spacing(2,12);
      }
    }
  }
  .pipeline-block__duration {
    display: flex;
    padding: spacing(2) spacing(2,4) ;
    width: 30%;
  }
}
